body {
  background-color: black;

  /* background: url(https://trello-backgrounds.s3.amazonaws.com/SharedBackground/2557x1600/154e72a5c14cc1266e472b604988ecaf/photo-1677647598949-6b6689bd53f6.jpg); */

  background-size: cover;
  margin: 0;
  font-family:
    monospace,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  color: #f1f1f1;
  font-size: 14px;
  /* font-weight: 500; */
}

.header {
  padding: 10px;
  background-color: rgb(20, 20, 20);
  backdrop-filter: blur(6px);
}

.app {
  display: flex;
  flex-direction: column;
}

.app-body {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.youtube-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 400px;
  height: 200px;
}

canvas {
  /* position: fixed; */
  /* bottom: 20px; */
  /* left: 20px; */
  /* width: 400px; */
  /* height: 400px; */
  background-color: black;
  display: block;
}
